version: "3.8"

services:
  # Servicio que simulará AWS en tu máquina
  localstack:
    container_name: aws-local-sandbox
    image: localstack/localstack:latest
    ports:
      - "4566:4566" # Puerto estándar para interactuar con los servicios de AWS
    environment:
      - SERVICES=s3 # Solo queremos activar el servicio de almacenamiento S3
      - AWS_DEFAULT_REGION=us-east-1
    volumes:
      - "localstack_data:/var/lib/localstack"

volumes:
  localstack_data:
